<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.webauth.user.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.neusoft.webauth.user.entity.UserInfo" >
        <id column="user_code" property="userCode" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="user_acct" property="userAcct" jdbcType="VARCHAR" />
        <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
        <result column="is_admin" property="isAdmin" jdbcType="INTEGER" />
        <result column="id_card" property="idCard" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="INTEGER" />
        <result column="tel" property="tel" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="ip" property="ip" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="sort_no" property="sortNo" jdbcType="INTEGER" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
        <result column="last_modified_by" property="lastModifiedBy" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="client_id" property="clientId" jdbcType="INTEGER" />
    </resultMap>

    <!--新增用户-->
    <insert id="addUser" parameterType="com.neusoft.webauth.user.entity.UserInfo">
        insert into t_sys_user
        (user_id,
         user_account,
         user_password,
         name,
         sex,
         phone,
         email,
         idcard,
         role,
         is_deleted,
         create_by,
         gmt_create,
         last_modified_by,
         gmt_modified,
         version)
        values
            (#{userId},
            #{userAccount},
            #{userPassword},
            #{name},
            #{sex},
            #{phone},
            #{email},
            #{idCard},
            #{role},
            0,
            #{createBy},
            now(),
            #{lastModifiedBy},
            now(),
            0)
    </insert>
    <!--获取用户信息-->
    <select id="findUserById" parameterType="java.lang.String" resultType="com.neusoft.webauth.user.entity.UserInfo">
        select
            user_account userAccount,
            name,
            sex,
            phone,
            email,
            idcard idCard,
            user_password userPassword,
            role
        from t_sys_user
        where user_id = #{userId}
        and is_deleted = 0
    </select>
    <!--用户列表-->
    <select id="listUsers" parameterType="com.neusoft.webauth.user.entity.UserInfo" resultType="com.neusoft.webauth.user.entity.UserInfo">
        select
        user_account userAccount,
        name,
        role,
        sex,
        phone,
        email,
        idcard idCard
        from t_sys_user
        where is_deleted = 0
        <if test="name != null and name !=''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="userAccount != null and userAccount !=''">
            and user_account like concat('%',#{userAccount},'%')
        </if>
        order by gmt_create desc
    </select>
    <!--修改用户信息-->
    <update id="updateUserById" parameterType="com.neusoft.webauth.user.entity.UserInfo">
        update t_sys_user
        set
            user_account    = #{userAccount},
            user_password   = #{userPassword},
            name            = #{name},
            sex             = #{sex},
            phone           = #{phone},
            email           = #{email},
            idcard          = #{idCard},
            role            = #{role},
            last_modified_by    = #{lastModifiedBy},
            gmt_modified    = now(),
            version         = version + 1
        where user_id = #{userId}
            and version = #{version}
    </update>

    <!--删除用户-->
    <update id="deleteUser" parameterType="com.neusoft.webauth.user.entity.UserInfo">
        update t_sys_user
        set
        is_deleted = 1,
        gmt_modified = now(),
        last_modified_by = #{updateUserId},
        version = version + 1
        where user_id in
        <foreach item="item" index="index" collection="listDeleteUserId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--修改密码-->
    <update id="updateUserPassword" parameterType="com.neusoft.webauth.user.entity.UserInfo">
        update t_sys_user
           set user_password     = #{newPassword},
               gmt_modified = now(),
               last_modified_by   = #{lastModifiedBy},
               version      = version + 1
         where user_id = #{userId}
    </update>
    <!--统计用户账号数量-->
    <select id="countUserAccount" parameterType="com.neusoft.webauth.user.entity.UserInfo" resultType="int">
        select count(*)
        from t_sys_user
        where is_deleted = 0
        and user_account = #{userAccount}
    </select>
    <!--统计用户手机号数量-->
    <select id="countUserPhone" parameterType="com.neusoft.webauth.user.entity.UserInfo" resultType="int">
        select count(*)
        from t_sys_user
        where is_deleted = 0
        and phonr = #{phone}
    </select>
</mapper>