<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.activemq.dao.ActivemqDao">
    <!--添加一条记录-->
    <insert id="addQueue" parameterType="java.lang.String">
        insert into t_sys_activemq
            (activemq_id,
            activemq_details,
            activemq_time)
        values
            (1,
            #{goodClassifyInfo},
            now())
    </insert>
</mapper>