<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.user.dao.UserDao">
    <!--新增用户-->
    <insert id="addUser" parameterType="com.user.entity.UserInfo">
        insert into t_sys_user
        (user_id,
         user_account,
         user_password,
         name,
         sex,
         phone,
         email,
         idcard,
         role,
         is_deleted,
         create_by,
         gmt_create,
         last_modified_by,
         gmt_modified,
         version)
        values
            (#{userId},
            #{userAccount},
            #{userPassword},
            #{name},
            #{sex},
            #{phone},
            #{email},
            #{idCard},
            #{role},
            0,
            #{createBy},
            now(),
            #{lastModifiedBy},
            now(),
            0)
    </insert>
    <!--统计用户账号数量-->
    <select id="countUserAccount" parameterType="com.user.entity.UserInfo" resultType="int">
        select count(*)
        from t_sys_user
        where is_deleted = 0
        and user_account = #{userAccount}
    </select>
    <!--修改用户-->
    <update id="updateUserById" parameterType="com.user.entity.UserInfo">
        update t_sys_user
        set
            user_account    = #{userAccount},
            user_password   = #{userPassword},
            name            = #{name},
            sex             = #{sex},
            phone           = #{phone},
            email           = #{email},
            idcard          = #{idCard},
            role            = #{role},
            last_modified_by    = #{lastModifiedBy},
            gmt_modified    = now(),
            version         = version + 1
        where user_id = #{userId}
            and version = #{version}
    </update>
    <!--删除用户-->
    <update id="deleteUser" parameterType="com.user.entity.UserInfo">
        update t_sys_user
        set
            is_deleted = 1,
            gmt_modified = now(),
            last_modified_by = #{updateUserId},
            version = version + 1
        where user_id in
        <foreach item="item" index="index" collection="listDeleteUserId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--用户列表-->
    <select id="listUsers" parameterType="com.user.entity.UserInfo" resultType="com.user.entity.UserInfo">
        select
            user_account userAccount,
            name,
            role,
            sex,
            phone,
            email,
            idcard idCard
        from t_sys_user
        where is_deleted = 0
        <if test="name != null and name !=''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="userAccount != null and userAccount !=''">
            and user_account like concat('%',#{userAccount},'%')
        </if>
        order by gmt_create desc
    </select>
    <!--用户详情-->
    <select id="findUserById" parameterType="java.lang.String" resultType="com.user.entity.UserInfo">
        select
            user_account userAccount,
            name,
            sex,
            phone,
            email,
            idcard idCard,
            user_password userPassword,
            role
        from t_sys_user
        where user_id = #{userId}
        and is_deleted = 0
    </select>
</mapper>